<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{_Layout :: layout (~{::body})}">

<body>

    <h2 class="text-center mb-4">
        Danh sách học phần
    </h2>

    <div class="row">
        <div class="col-md-4 mb-4" th:each="course : ${courses.content}">
    
            <div class="card course-card">
    
                <img th:src="${course.image}" class="card-img-top course-img">
    
                <div class="card-body">
    
                    <h5 class="course-title" th:text="${course.name}">
                    </h5>
    
                    <p class="course-info">
    
                        🎓 <strong>Tín chỉ:</strong>
                        <span th:text="${course.credits}"></span>
    
                        <br>
    
                        👨‍🏫 <strong>Giảng viên:</strong>
                        <span th:text="${course.lecturer}"></span>
    
                    </p>
    
                    <form th:action="@{/enroll/{id}(id=${course.id})}" method="post">
    
                        <button class="btn btn-success w-100 mt-2">
                            Đăng ký học phần
                        </button>
    
                    </form>
    
                </div>
    
            </div>
    
        </div>
    </div>
    <!-- PHÂN TRANG -->
    <div class="d-flex justify-content-center mt-4">
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${!courses.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{/home(page=${courses.number-1})}">
                        Trang trước
                    </a>
                </li>
                <li class="page-item active">
                    <span class="page-link" th:text="${courses.number+1}">
                    </span>
                </li>
                <li class="page-item" th:classappend="${!courses.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{/home(page=${courses.number+1})}">
                        Trang sau
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>